.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 150px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav {
  list-style: none;
  padding: 0;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-nav li span {
  margin-left: 10px;
}

.sidebar-nav li:hover {
  background-color: #444;
}

.sidebar-bottom {
  margin-top: auto;
  padding-bottom: 20px;
}

.sidebar-nav-bottom {
  list-style: none;
  padding: 0;
}

.sidebar-nav-bottom li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
}

.sidebar-nav-bottom li span {
  margin-left: 10px;
}

.sidebar-nav-bottom li:hover {
  background-color: #444;
}

.content {
  flex: 1; /* Use flex-grow to fill remaining space */
  padding: 20px;
  margin-left: 170px;
  overflow-y: auto;
}

.notification.read {
  background-color: #f0f0f0;
}

.notification.unread {
  background-color: #fff;
  font-weight: bold;
}

.notification {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notification .message-container {
  display: flex;
  align-items: center;
}

.notification-message {
  margin-right: 10px;
}

.notification-date {
  font-size: 0.8em;
}

.tab {
  padding: 10px;
  cursor: pointer;
  margin: 5px;
}

.tab.selected {
  background-color: #fff;
  font-weight: bold;
}

.tab.unselected {
  opacity: 0.7;
}

.list {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}